10. 行数のカウント

行数をカウントせよ．確認にはwcコマンドを用いよ．

In [1]:
count = 0
with open("popular-names.txt","r") as f:
    for l in f:
        count += 1
count

2780

11. タブをスペースに置換

タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [2]:
new = list()
with open('popular-names.txt', 'r') as f:
    for l in f:
        new.append(l.replace("\t"," "))
for i in new[:10]:
    print(i)

Mary F 7065 1880

Anna F 2604 1880

Emma F 2003 1880

Elizabeth F 1939 1880

Minnie F 1746 1880

Margaret F 1578 1880

Ida F 1472 1880

Alice F 1414 1880

Bertha F 1320 1880

Sarah F 1288 1880

12. 1列目をcol1.txtに，2列目をcol2.txtに

各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [3]:
with open("popular-names.txt","r") as f:
    for l in f:
        line = l.split("\t")
        with open("col1.txt","a") as c1:
            c1.write(line[0]+"\n")
        with open("col2.txt","a") as c2:
            c2.write(line[1]+"\n")

13. col1.txtとcol2.txtをマージ

12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [4]:

with open("c1c2.txt","a") as c1c2:
    for l in range(count):
        with open("col1.txt","r") as c1:
            with open("col2.txt","r") as c2:
                c1c2.write(list(c1)[l].replace("\n","")+"\t"+list(c2)[l][0]+"\n")

14. 先頭からN行を出力

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ

In [5]:
N = 6
head = list()
with open("popular-names.txt","r") as f:
    for l in f:
        head.append(''.join(l[:N]))
for i in head[:10]:
    print(i)

Mary	F
Anna	F
Emma	F
Elizab
Minnie
Margar
Ida	F
Alice
Bertha
Sarah

15. 末尾のN行を出力

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [6]:
N = 14
head = list()
with open("popular-names.txt","r") as f:
    for l in f:
        head.append(''.join(l[-N-1:]))
for i in head[:10]:
    print(i)

ry	F	7065	1880

na	F	2604	1880

ma	F	2003	1880

th	F	1939	1880

ie	F	1746	1880

et	F	1578	1880

da	F	1472	1880

ce	F	1414	1880

ha	F	1320	1880

ah	F	1288	1880

16. ファイルをN分割する

自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [7]:
N = 8
head = list()
with open("popular-names.txt","r") as f:
    for l in list(f)[::(count+N-1)//N]:
        head.append(''.join(l))
for i in head:
    print(i)

Mary	F	7065	1880

Marie	F	3078	1897

Charles	M	16937	1914

Joan	F	21045	1932

John	M	81161	1949

Lisa	F	52435	1967

Heather	F	21492	1984

Andrew	M	22411	2001

17. １列目の文字列の異なり

1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはcut, sort, uniqコマンドを用いよ．

In [15]:
A = list()
with open("popular-names.txt","r") as f:
    for l in f:
        line = l.split("\t")
        A.append(line[0])
list(set(A))[:10]

['Frances',
 'Minnie',
 'Samantha',
 'Marie',
 'Jayden',
 'Sandra',
 'Larry',
 'Bertha',
 'Amanda',
 'Lucas']

18. 各行を3コラム目の数値の降順にソート

各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [12]:
org = list()

with open("popular-names.txt","r") as f:
    for l in f:
        org.append(l.split("\t"))

sorted(org, key=lambda x: int(x[2]))[:10]

[['Sarah', 'F', '1288', '1880\n'],
 ['Alice', 'F', '1308', '1881\n'],
 ['Bertha', 'F', '1320', '1880\n'],
 ['Bertha', 'F', '1324', '1881\n'],
 ['Annie', 'F', '1326', '1881\n'],
 ['Alice', 'F', '1414', '1880\n'],
 ['Ida', 'F', '1439', '1881\n'],
 ['Ida', 'F', '1472', '1880\n'],
 ['Annie', 'F', '1492', '1882\n'],
 ['Bertha', 'F', '1508', '1882\n']]

19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる

各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [11]:
org = list()

with open("popular-names.txt","r") as f:
    for l in f:
        org.append(l.split("\t"))

moststr = dict()
for o in org:
    if o[0] in moststr: moststr[o[0]] += 1
    else: moststr[o[0]] = 1

sorted(moststr.items(),key=lambda x: x[1],reverse=1)[:10]

[('James', 118),
 ('William', 111),
 ('John', 108),
 ('Robert', 108),
 ('Mary', 92),
 ('Charles', 75),
 ('Michael', 74),
 ('Elizabeth', 73),
 ('Joseph', 70),
 ('Margaret', 60)]